.content-subtitle_place_cover {
    max-width: 382px;
    font-size: 18px;
    line-height: 26px;
    text-align: center;
    font-style: normal;
    font-weight: normal;
    margin: 134px auto 48px;
    z-index: 2;
}

@media screen and (max-width : 425px) {
    .content-subtitle_place_cover {
        font-size: 14px;
        line-height: 17px;
        margin: auto auto 24px;
        width: 80%;
    }
}

@media screen and (min-width : 425px) and (max-width : 765px) {
    .content-subtitle_place_cover {
        font-size: 14px;
        line-height: 17px;
        margin: auto auto 24px;
        width: 80%;
    }
}

@media screen and (min-width : 768px) and (max-width : 1024px) {
    .content-subtitle_place_cover {
        margin: 45px auto 40px;
    }
}