@import url(../lead/__caption/lead__caption.css);
@import url(../lead/__image/lead__image.css);

.lead {
    display: flex;
    max-width: 985px;
    width: 90%;
    flex-direction: column;
    color: #ffffff;
    font-family: Inter, Helvetica, Arial, sans-serif;
    align-items: center;
}

@media screen and (min-width: 320px) and (max-width: 780px) {
    .lead {
        width: 100%;
    }
}