.comments__author {
    max-width: 382px;
    font-style: normal;
    font-weight: 900;
    font-size: 14px;
    line-height: 24px;
    margin: 0;
}

@media screen and (max-width : 425px) {
    .comments__author {
        order: 2;
        align-self: center;
        margin-bottom: 24px;
    }
}

@media screen and (min-width : 425px) and (max-width : 1000px) {
    .comments__author {
        order: 2;
        align-self: center;
        margin-bottom: 24px;
    }
}