.video__duration {
    max-width: 44px;
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 13px;
    letter-spacing: 0.3em;
    margin: 94px 0 0 30px;
    z-index: 3;
    color: #ffffff;
    position: relative;

}

@media screen and (max-width : 425px) {
    .video__duration {
        margin: 17px 0 0 24px;
    }
    .video__item_kamchatka .video__duration {
        margin: 41px 0 0 24px;
    }
}


@media screen and (min-width : 425px) and (max-width : 768px) {
    .video__duration {
        margin: 17px 0 0 24px;
    }
    .video__item_kamchatka .video__duration {
        margin: 41px 0 0 24px;
    }
}

@media screen and (min-width : 768px) and (max-width : 1020px) {
    .video__duration {
        margin: 17px 0 0 30px;
    }

    .video__item_kamchatka .video__duration {
        margin-top: 36px;
    }
}

@media screen and (min-width : 1024px) and (max-width : 1280px) {
    .video__duration {
        margin: 54px 0 0 30px;
    }

}