.content-title_place_comments {
    max-width: 800px;
    font-weight: 900;
    font-size: 72px;
    line-height: 65px;
    text-align: center;
    margin: 0 auto 48px;
    width: 90%;
}

@media screen and (max-width : 425px) {
    .content-title_place_comments {
        font-size: 32px;
        line-height: 35px;
        margin: 0 auto 16px;
    }
}


@media screen and (min-width : 425px) and (max-width : 768px) {
        .content-title_place_comments {
            font-size: 32px;
            line-height: 35px;
            margin: 0 auto 16px;
        }
 }
    
@media screen and (min-width : 768px) and (max-width : 1000px) {
    .content-title_place_comments {
        font-size: 42px;
        line-height: 46px;
        margin: 0 auto 24px;
    }
}

