.content-title_place_places {
max-width: 460px;
font-weight: 900;
font-size: 72px;
line-height: 65px;
align-self: end;
margin: 0;
}

@media screen and (max-width : 425px) {
    .content-title_place_places {
        font-size: 32px;
        line-height: 35px;
        margin-left: 16px;
    
    }
}

@media screen and (min-width : 425px) and (max-width: 765px) {
    .content-title_place_places {
        font-size: 32px;
        line-height: 35px;
    
    }
}

@media screen and (min-width : 768px) and (max-width: 1020px) {
    .content-title_place_places {
        font-size: 42px;
        line-height: 46px;
    }
    
}

